body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    margin-bottom: 150px;
}
.main-content{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #FEFDED;
    z-index: 999;
}
.main-content-text{
    width: 40%;
}
.main-content-text p{
    text-align: justify;
    line-height: 1.5;
}
.main-content-img{
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.main-shape{
    position: relative;
}
.main-shape-line{
    display: flex;
    justify-content: center;
}
.main-shape-line-svg{
    position: absolute;
    z-index: -99;
}
.main-shape-container, .main-circle{
    display: flex; 
    justify-content: center;
}
.main-shape-container-circle, .main-circle-content{
    margin-top: -40px;
    width: 70px;
    height: 70px;
    background-color: #FA7070;
    border-radius: 50%;
    z-index: -1;
}
.circle-up{
    margin: 65px 0 -40px
}
.main-rectangle{
    margin: 180px 0 0 320px;
}
.main-rectangle-rotate{
    margin: 180px 330px 0 0;
}
.main-rectangle-triangle{
    display: flex;
    align-items: center;
    margin-right: -1px;
}
.main-rectangle-rotate-triangle{
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    margin-left: -1px;
}
.main-rectangle-container, .main-rectangle-rotate-container{
    width: 255px;
    height: 80px;
    background-color: #FA7070;
    border-radius: 10px;
}
.main-rectangle-container-text{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(0, 1fr);
    grid-template-areas:
        "one two two two two"
        "one three three three three";
    margin: 15px 0 0 10px
}
.main-rectangle-rotate-container-text{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(0, 1fr);
    grid-template-areas:
        "two two two two one"
        "three three three three one";
    margin: 15px 0 0 -6px;
}
.main-rectangle-container-text-1{
    grid-area: one;
    justify-self: center;
    align-self: center;
    font-size: 46px;
    font-weight: 700;
    color: white; 
}
.main-rectangle-rotate-container-text-1{
    grid-area: one;
    align-self: center;
    justify-self: start;
    font-size: 46px;
    font-weight: 700;
    color: white;
}
.main-rectangle-container-text-2{
    grid-area: two;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -3px;
    color: white;
}
.main-rectangle-rotate-container-text-2{
    grid-area: two;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -3px;
    justify-self: end;
    color: white;
}
.main-rectangle-container-text-3{
    grid-area: three;
    font-size: 20px;
    font-weight: 600;
    margin: -3px 20px 0 0;
}
.main-rectangle-rotate-container-text-3{
    grid-area: three;
    font-size: 20px;
    font-weight: 600;
    justify-self: end;
}

